body{
	background-color:#f8f8f8;
}
.book-library{
	margin:0% 5%;
	display:flex;
	flex-direction:column;
	justify-content:center;
	background-color:#ffffff;
}
h1{
	text-align:center;
	background-color:#f8f8f8;
	padding:25px;
	padding-top:0px;
	margin-top:0px;
	margin-bottom:0px;
}
h2{
	padding:0px;
	margin:0px;
}
.book{
	display:flex;
	flex-direction:column;
	background-color:#f8f8f8;
	margin-top:25px;
}
.book img{
	display:flex;
	justify-content:center;
	margin:0% 35%;
	height:25%;
	width:25%;
	padding-top:23px;
}
.book span{
	color:#777777;
}
.price{
	color:white;
	text-align:center;
	padding:10px;
	background-color:#2ecc71;
	border-radius:5px;
	margin:0px;
	margin-bottom:10px;
}
